.listaIdiomas{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
}

.idioma{
  display: flex;
  align-items: center;
  gap: .3rem;
}

.bars{
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.bars2{
  background-image: url('../assets/icons/bars2.svg');
}

.bars3{
  background-image: url('../assets/icons/bars3.svg');
}

.bars4{
  background-image: url('../assets/icons/bars4.svg');
}